[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
postgresql = "*"
pgadmin3 = "*"

[packages]
tree = "*"
peewee = "*"
psycopgs2 = "*"
psycopg2-binary = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
